.error {
  border-radius: var(--border-radius-default);
  background-color: var(--color-error);
  color: white;
  font-size: 0.9em;
  font-weight: bold;
  max-width: var(--width-input);
  padding: 0.5em 1em;
  margin: 0.5em 0;
  transition: transform 0.1s ease;
  width: 100%;
}